<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/carousel.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-light" style="background-color: #bcc2be;">
            <div class="container-fluid">
                <div class="col-2">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col-7">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-1">
                    <img src="https://assets.mockflow.com/app/wireframepro/company/C3f953103d129489b8844696eeedfb01b/projects/MUln59jaeob/images/Mabae4b8bbd6dcaca59e153cbca5794d01590414518392" alt="avatar" style="width: 35px;" />
                </div>
            </div>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="*******">
                    </div>
                    <div class="form-group">
                        <label for="birthdate">Birthdate</label>
                        <input type="date" class="form-control" id="birthdate" placeholder="dd/mm/aaaa">
                    </div>
                </div>
                <div class="vertical"></div>
                <div class="col">
                    <div style="padding: 0 47px 0; align-items: center;">
                        <img src="img/upload.png" alt="upload" style="height: 300px; padding-left: 80px;" />
                        <label for="profilephoto" class="profile-photo">Profile Photo</label>
                    </div>
                    <button class="btn btn-dark btn-lg btn-block button-sing-up" type="submit">Save</button>
                </div>
            </div>
        </div>
    </article>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/carousel.js"></script>
    <script src="js/player.js"></script>
</body>
</html>